t
*.o
*.py
T/
T.zip
diem.txt
big_data.txt
ts_tmp.sh

!check_conflicts.py

!check_runtime.py
_t.t
t_bc_test
t_compiler_test
t_call_test
t_debug
t_debug2
t_iter_test
t_compiler_test
t_bc_test
*.o
t_arr
t_bc
t_chain
t_dbg_iter
t_f
t_gate
t_gate2
t_minimal
t_native
t_native2
t_ntest
t_prog
t_size
t_size2
t_step
t_write_test
_*.t
*.txt
out.txt
test_out.txt
chunk_dbg.txt
debug_write.txt
ret_dbg.txt
t_bc_asan
t_bc
t
_*.txt
